<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>270318147798-gk84btfupbom4lodtrgac6l5pe50eb7m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.270318147798-gk84btfupbom4lodtrgac6l5pe50eb7m</string>
	<key>API_KEY</key>
	<string>AIzaSyAi9YQ4IuUpLmeR27bwyXuUam7CWfp8Hzs</string>
	<key>GCM_SENDER_ID</key>
	<string>270318147798</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rxTreanding.RxTrendingMovies</string>
	<key>PROJECT_ID</key>
	<string>rxmanagement-c76cc</string>
	<key>STORAGE_BUCKET</key>
	<string>rxmanagement-c76cc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:270318147798:ios:17fa9b30fa12c1df1c1177</string>
</dict>
</plist>